@inherits LayoutComponentBase
@using Radzen

<RadzenComponents @rendermode="InteractiveServer" />
<RadzenNotification Style="z-index: 100" />
<div class="app-frame">

    <div class="phone-container">
        @Body
    </div>
</div>
